body{
margin:0;
    text-align: center;
}
.header{
    background-color: #1f2937;
    padding:2em;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.herotext{
    color:#F9FAF8;
    size:48px;
    flex-basis:30%;
}
.heroimg{
    flex-basis:30%;
}
.container{
    display: flex;
    justify-content: center;
}
.elements{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    gap: 10px;
}
.element{
    flex-basis:20%;
}
.quote{
    background-color: #E5E7Eb;
    padding:2em;
}
.ctaction{
    background-color: #3882f6;
    padding:2em;
}