body{
margin:0;
    text-align: center;
    font-family:sans-serif;
}
.topbar{
    display: flex;
    justify-content:space-around;
    gap:10px;
    color:#F9FAF8;
    align-items:center;
}
.logo{
    font-size: 24px;
    font-weight: extra-bold;
}
.navbar ul{
    display: flex;
    justify-content:center;
    gap:20px;
    list-style: none;
}
.navbar ul li{
    font-weight:normal;
    
}

.header{
    background-color: #1f2937;
    padding:2em;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.herotext{
    color:#F9FAF8;
    font-size: 48px;
    font-family:sans-serif;
    flex-basis:30%;
}
.heroimg{
    flex-basis:30%;
    height: 240px;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.contenttitle{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
    gap:20px;
}
.elements{
    width:80%;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    gap: 10px;
}
.element{
    flex-basis:20%;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    color: #1F2937;
    width:100%;
    background-color: #E5E7Eb;
}
.autor{
    font-size: 14px;
    text-align: right;
    padding: 10px;
    clear: both;
}

.ctaction{
    width: 80%;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    gap: 10px;
}
.titleaction{
    padding: 20px;
}
.button{
    border-radius: 4px;
    border-bottom-color: aqua;
    cursor: pointer;
    background: aqua;
    width: 200px;
    padding: 6px;
}
.footer{
    background-color: #1f2937;
    color:#F9FAF8;
    font-size: 12px;
}